#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}