#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}