#s-79e0304b-3de1-4dde-bc5e-59a938f112e6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79e0304b-3de1-4dde-bc5e-59a938f112e6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79e0304b-3de1-4dde-bc5e-59a938f112e6 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79e0304b-3de1-4dde-bc5e-59a938f112e6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}