#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 750px;
  min-width: 750px;
  min-height: 1334px;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Image_1 {
  position: absolute;
  top: 295px;
  left: -291px;
  width: 1330px;
  height: 750px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Image_2 {
  position: absolute;
  top: 755px;
  left: 119px;
  width: 140px;
  height: 140px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Image_3 {
  position: absolute;
  top: 749px;
  left: 320px;
  width: 154px;
  height: 151px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Image_4 {
  position: absolute;
  top: 735px;
  left: 528px;
  width: 144px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Button_1 {
  position: absolute;
  top: 1107px;
  left: 231px;
  width: 219px;
  height: 63px;
  background-color: #FC663D;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 65px 65px 65px 65px;
  padding-top: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  opacity: 0.86;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 40.0pt;
  font-family: Josefin Sans,Arial;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans,Arial;
  font-size: 40.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans,Arial;
  font-size: 40.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Paragraph_1 {
  position: absolute;
  top: 288px;
  left: 99px;
  width: 580px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 137px;
  font-size: 72.0pt;
  font-family: Josefin Sans,Arial;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans,Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans,Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-10001b47-0d57-4cc7-abc7-c89ffd1a2506 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}