#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 290px;
  margin-top: -291px;
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}