#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_1 {
  -ms-transform: rotate(90.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 59px 59px 59px 59px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 225px;
  height: 57px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-26f12980-90c6-4a30-9679-9b49cfc7421e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}