h1, h2, h3, h4, p, button, input[type="text"], input[type="search"], select[class='form-control'] {
  font-family: "Gill Sans";
  color: white;
}
p {
  font-size: 16px;
}
.meal {
  margin-top: 10px;
}
.top-meal {
  margin-top: 25px;
}
.meal > p[class="dishes"] {
  margin-right: 40px;
}
.guestClassButton {
  position: relative;
  top: 40px;
}
.center {
  margin: auto;
  width: 90%;
}
.meal-pic{
  background-size: cover;
  height: 150px;
  cursor: pointer;
}
.meal-name-box {
  height: auto;
  background-color: #efdd59;
  cursor: pointer;
}
.meal-name-box > div {
  padding-top: 10px;
}
.text-center {
  text-align: center;
}
#meal-container {
  position: relative;
  top: 50px;
  margin: 0px 30px;

}
.black {
  color: black;
}
.meal-img {
  height: 400px;
  background-size: 400px;
  background-repeat: no-repeat;

}
.selected-meal-one > p {
  color: black;
}
.selected-meal-one {
  margin-top: 20px;
  margin-bottom: 10px;
}
.meal-title, .meal-title2 {
  font-size: 30px;
}
.meal-desc {
  margin-top: 20px;
}
.ingredients-container {
  background-color: #ffe599;
}
.ingredients-container p {
  color: black;
}
.top-desc {
  padding-top: 20px;
  padding-left: 5px;
  font-size: 20px;
}
.separator {
  width: 90%;
  height: 2px;
  background-color: black;
  margin-bottom: 10px;
}
.pricen {
  text-align: center;
  position: relative;
  left: 20px;
}
.a-bit-down {
  position: relative;
  top: 10px;
  left: 130px;
}


/* Snyggare knappar */
.btnMe {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  width: 30px;
  height: 30px;
  margin: 5px 0px;
  cursor: pointer;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-size: 25px;
}
.guestClassButton, .wide-button {
  width: 140px;
  height: 50px;
  padding: 6px 3px;
}
.center2 {
  width: 80%;
}
.btnMe > p {
  color: white;
  font-family: "Montserrat";
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 25px;
  position: relative;
  bottom: 6px;
  left: 1px;
}
.btnMe, .btnMe > p {
  /* Prefix -webkit- for chrome and safari */
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;

  /* Prefix -moz- for firefox */
  -moz-transition-timing-function: linear;
  -moz-transition-duration: 0.2s;

  /* NO prefix for opera */
  transition-timing-function: linear;
  transition-duration: 0.2s;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}
.btnMe:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #52595f;
}
.btnMe:hover p {
  color: #52595f;
}
.wide-button {
  color: black;
  border: 2px solid black;
  position: relative;
  left: 20px;
  margin: 10px 0px;
}
.wide-button:hover {
  color: white;
  background-color: black;
}
