body {
  margin: 0px;
}
.bg2 {
  background-image: url("../public/images/bg.jpg");
  background-size: cover;

}
.info-box > p, .info-box > h3 {
  color: white;
}
.info-box {
  background-color: rgba(82,89,95,0.7);
  margin-top: 20em;
  margin-bottom: 10em;
  padding-bottom: 1em;
}
.indexKnapp {
  left: 11em;
}
