<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->

<div class="container-fluid bg bg2">
  <div class="page-head"></div>
  <div class="row">

    <div class="col-sm-5 info-box">
      <h3>A dinner home service</h3>
      <p>Lorem ipsum dolor sit amet, no quo pericula argumentum, suscipit prodesset vix ex, quodsi scripta maiorum pro eu. Has disputando interpretaris an, vitae similique his ea. Molestie maiestatis qui ne. Sed at antiopam vituperata, id sed nullam latine, pri ridens mollis sadipscing ex.</p>
      <p>start quickly</p>
      <center>
        <!-- <button class="btn btnMe3 indexKnapp" id="indexKnapp2331">Create new dinner</button> -->
        <a href="#/search" class="btn btnMe">Create new dinner</a>
      </center>
    </div>
  </div>
  <div class="page-foot"></div>
</div>
