<div class="container-fluid bg">
 <div class="row underhead">
   <div class="col-xs-2"><p id="line1">My Dinner: {{getNumberOfGuests()}} people</p></div>
   <div class="col-xs-9"></div>
   <div class="col-xs-1">
      <a href="#/search">
        <button class="backButton btnMe" id="backKnapp444">Go back</button>
      </a>
   </div>
 </div>

   <div id="matkontainer">
     <div id="insert-matkontainer-here"></div>
   </div>

 <div class="row addColorToMe">
   <center>
     <p class="black superman" id="pris123432">Total Cost: {{getTotalCost()}}</p>
     <a href="#/final">
        <button class="btnMe btnMe2" id="printKnapp11">Print</button>
     </a>
   </center>
 </div>
</div>
