<!-- We include the sidebar as it is shared across two screens. -->
<!-- <ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include> -->

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->

<div class="container-fluid bg">
  <div class="row firstrow">
    <div class="col-xs-2 anti-padding">
        <div ng-include="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></div>
    </div>

    <div class="col-xs-10">
    <div class="row">
        <div ng-include="'partials/search-bar.html'" ng-controller="SearchCtrl"></div>
        <div id="meal-container" ng:bind="mealSearchResponse">
            <!-- insert meals here -->
        </div>
    </div>


    </div>
  </div>
</div>
