#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 750px;
  min-width: 750px;
  min-height: 1334px;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Image_1 {
  position: absolute;
  top: 295px;
  left: -291px;
  width: 1330px;
  height: 750px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Image_2 {
  position: absolute;
  top: 724px;
  left: 90px;
  width: 160px;
  height: 160px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Image_3 {
  position: absolute;
  top: 728px;
  left: 308px;
  width: 176px;
  height: 161px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Image_4 {
  position: absolute;
  top: 726px;
  left: 526px;
  width: 164px;
  height: 165px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Button_1 {
  position: absolute;
  top: 1075px;
  left: 242px;
  padding-top: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
  width: 213px;
  height: 57px;
  background-color: #FC663D;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 65px 65px 65px 65px;
  opacity: 0.86;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: Josefin Sans,Arial;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans,Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Paragraph_1 {
  position: absolute;
  top: 279px;
  left: 155px;
  width: 482px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 137px;
  font-size: 72.0pt;
  font-family: Josefin Sans,Arial;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans,Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Josefin Sans,Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-91d307d8-8aa3-4aa3-8dac-6dc9bfa3b36f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}